.rng-module-metadataEditor {

    table {
        margin-bottom:10px;
    
        [contenteditable] {
            cursor: pointer;
        }

        li:last-child {
            border-bottom: none !important;
        }

        tr td:nth-child(1){
            width: 20%;
        }

        tr td:nth-child(2)  {
            width:80%;
        }
    }

    .rng-module-metadataEditor-addBtn {
        float:right;
        margin-right:6px;
    }

    .btn {
        padding:3px;
        line-height:10px;
    }
}