[wlxml-tag] {
    float: none !important; /* temporaty workaround for Bootstrap's influence via [class*="span"] { float: left; } */
    border-color: white;
    border-style:solid;
    border-width:1px;
    min-height:20px;
    position:relative;
    text-indent: 0;
}

[wlxml-tag=span] {
    display:inline-block;
    min-width: 10px;
}

[wlxml-tag=header] {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
}

[wlxml-tag=section] {
    margin-top: 10px;
    margin-bottom: 10px;
}

[wlxml-tag=section] [wlxml-tag=section] {
    margin-left:10px;
}

[wlxml-class|="cite"] {
    font-style: italic;
}

[wlxml-class|="cite-code"] {
    font-family: monospace;
}

[wlxml-class|="cite-code-xml"] {
    color: blue;
}

[wlxml-tag=header] > [wlxml-class=author] {
    font-size: 14px;
}

[wlxml-tag=header] > [wlxml-class=title] {
    font-size:18px;
}

[wlxml-class|="uri"] {
    color: blue;
    text-decoration: underline;
}

[wlxml-class|="p"] {
    text-indent: 1.5em;
}

[wlxml-class|="emph-tech"] {
    font-style: italic;
}

[wlxml-tag]  metadata {
    display:none;
}

[wlxml-class="list-items"] {

    > [wlxml-class="item"] {
        display: list-item;
        margin-left: 10px;
        padding-left: 5px;
    }
}

[wlxml-class="item"] {
    > [wlxml-class="list-items"] {
        display: block;
    }
}


[wlxml-class="list-items-enum"] {

    counter-reset: myitem;

    > [wlxml-class="item"] {
        counter-increment: myitem;
        margin-left: 10px;
        padding-left: 5px;
        
        &:before {
            content: counter(myitem) '. ';
            margin-right:10px;
            padding-right:10px;
        }
    }
}

.canvas-silent-item {
    display: block !important;
    counter-increment: none !important;
    &:before {
        content: normal !important;
    }
}

[wlxml-class="table"] {

    display: table;
    border: 1px solid black;

    [wlxml-class="row"] {
        display: table-row;
        border: 1px solid black;
    }
    [wlxml-class="cell"] {
        display: table-cell;
        border: 1px solid black;
        padding: 5px;
    }

}