<div class="rng-module-documentHistory">
    <div class="toolbar">
        <div class="group">
            <button class="btn btn-mini compare"><%= gettext('Compare') %></button>
            <button class="btn btn-mini restore"><%= gettext('Revert') %></button>
            <button class="btn btn-mini display"><%= gettext('Preview') %></button>
            <button class="btn btn-mini publish"><%= gettext('Publish') %></button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="rng-module-documentHistory-itemsList"></div>
<div>