<div class="rng-module-documentToolbar">
    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-name="undo" data-btn-type="cmd" data-meta="bullets" class="btn btn-mini"><i class="icon-share-alt" style="-webkit-transform: scale(-1,1); transform: scale(-1, 1);"></i></button>
        <button data-name="redo" data-btn-type="cmd" class="btn btn-mini"><i class="icon-share-alt"></i></button>
    </div>

    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-name="new-node" data-meta="header/" data-btn-type="cmd" class="btn btn-mini">nagłówek</button>
        <button data-name="list" data-btn-type="cmd" data-meta="bullets" class="btn btn-mini">lista pkt</button>
        <button data-name="list" data-btn-type="cmd" data-meta="num" class="btn btn-mini">lista num</button>
    </div>

    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-name="new-node" data-meta="span/emp" data-btn-type="cmd" class="btn btn-mini">wyróżnienie</button>
        <button data-name="new-node" data-meta="span/cite" data-btn-type="cmd" class="btn btn-mini">cytat</i></button>
        <button data-name="new-node" data-meta="span/link" data-btn-type="cmd" class="btn btn-mini">link</i></button>
    </div>

    <% if(templates) { %>
    <div class="rng-module-documentToolbar-toolbarGroup">
        <select data-name="templates-select">
        <% templates.forEach(function(template) { %>
            <option value="<%= template.id %>"><%= template.name %></option>
        <% }); %>
        </select>
        <button class="btn btn-mini" data-name="templatesBtn">+</button>
    </div>
    <% } %>

    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-name="new-node" data-meta="aside/comment" data-btn-type="cmd" class="btn btn-mini"><i class="icon-comment"></i></button>
    </div>

    <div style="clear: both;"></div>
</div>