<div class="rng-module-nodePane">
    <fieldset>
        <legend><%= gettext('Current node') %></legend>
        <div>
            <label>Tag</label>
            <select class="rng-module-nodePane-tagSelect">
                <% var options = ['', 'section', 'header', 'div', 'span', 'aside']; %>
                <% options.forEach(function(option) { %>
                    <option value="<%= option %>" <% if(option === '') { %>selected<% } %>><%= utils.getTagLabel(option) %></option>
                <% }); %>
            </select>
        </div>
        <div>
            <label>Klasa</label>
            <select  class="rng-module-nodePane-classSelect">
                <% var options = ['', 'author', 'title', 'comment', 'cite', 'cite.code', 'cite.code.xml', 'list.items', 'list.items.enum', 'item', 'link', 'p', 'footnote', 'todo', 'emp'] %>
                <% options.forEach(function(option) { %>
                    <option value="<%= option.replace(/\./g, '-') %>" <% if(option === '') { %>selected<% } %>><%= utils.getClassLabel(option) %></option>
                <% }); %>
            </select>
        </div>
        <div class="metaFields">
        </div>
    </fieldset>
</div>