<div class="rng-module-documentToolbar">
    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-btn="new-node" data-meta="header/" data-btn-type="cmd" class="btn btn-mini">header</button>
        <button data-btn="new-node" data-meta="div/p" data-btn-type="cmd" class="btn btn-mini">div/p</button>
        <button data-btn="new-node" data-meta="span/cite" data-btn-type="cmd" class="btn btn-mini">span/cite</i></button>
        <button data-btn="new-node" data-meta="span/uri" data-btn-type="cmd" class="btn btn-mini">span/uri</i></button>
        <select class="rng-module-documentToolbar-toolbarOption" data-option="newTag-tag">
            <% var options = ['', 'section', 'header', 'div', 'span', 'aside']; %>
            <% options.forEach(function(option) { %>
                <option value="<%= option %>" <% if(option==='span') { %>selected<% } %>><%= option %></option>
            <% }); %>
        </select>
        <select class="rng-module-documentToolbar-toolbarOption" data-option="newTag-class">
            <% var options = ['', 'author', 'title', 'cite', 'cite.code', 'cite.code.xml', 'list', 'list.items', 'item', 'uri', 'p', 'footnote', 'todo', 'emp', 'emph.tech'] %>
            <% options.forEach(function(option) { %>
                <option value="<%= option.replace(/\./g, '-') %>" <% if(option==='cite') { %>selected<% } %>><%= option %></option>
            <% }); %>
        </select>
        <button data-btn="new-node" data-btn-type="cmd" class="btn btn-mini"><i class="icon-plus"></i></button>
    </div>
    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-btn="grid" data-btn-type="toggle" class="btn btn-mini"><i class="icon-th-large"></i></button>
        <button data-btn="tags" data-btn-type="toggle" class="btn btn-mini"><i class="icon-tag"></i></button>
    </div>
    <div class="rng-module-documentToolbar-toolbarGroup">
        <button data-btn="createList" data-btn-type="cmd" data-meta="bullets" class="btn btn-mini"><i class="icon-list"></i></button>
        <button data-btn="createList" data-btn-type="cmd" data-meta="enum" class="btn btn-mini"><i class="icon-th-list"></i></button>
    </div>
    <div style="clear: both;"></div>
</div>