body {
    padding-top: 30px;
}

#publication_content {
    height: 300px;
    overflow-y: scroll;
}

.rng-tab-content {
    display: none;
}

#rng-skelton-menu {
    float: right;
}

#rng-skelton-menu ul {
    list-style-type: none;
}

#rng-visualEditor-contentWrapper {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    float:left;
    width: 600px;
    height: 500px;
    overflow-y: scroll;
    padding: 5px 10px;
}

#rng-visualEditor-contentWrapper::-webkit-scrollbar {
    width: 9px;
}
 
#rng-visualEditor-contentWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#rng-visualEditor-contentWrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(73,175,205,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#rng-visualEditor-contentWrapper::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(73,175,205,0.4); 
}


#rng-visualEditor-content {

    outline: 0px solid transparent;
}

#rng-visualEditor-sidebar {
    float:right;
    width: 266px;
    height:500px;
    position:relative;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 5px 15px;

}

#rng-visualEditor-sidebar,
#rng-visualEditor-sidebar p,
#rng-visualEditor-sidebar td,
#rng-visualEditor-sidebar label,
#rng-visualEditor-sidebar input,
#rng-visualEditor-sidebar select {
    font-size: 11px;
    line-height:13px;
}

#rng-visualEditor-sidebar select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: auto;
    line-height: 14px;
}

#rng-visualEditor-sidebar label + select {
    position:relative;
    top: 5px;
}

#rng-visualEditor-sidebarButtons {
            /*-webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg); */
            
            position:absolute;
            top:-1px;
            right:-50px;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: #ddd;
            padding: 5px;
            background: #ededed;
}

#rng-visualEditor-sidebarButtons  ul {
    margin-bottom: 0px;
}

.rng-visualEditor-editPaneNodeForm  label ,
.rng-visualEditor-editPaneSelectionForm  label
{
    width: 50px;
    display: inline-block;
}

.rng-visualEditor-editPaneNodeForm  select,
.rng-visualEditor-editPaneSelectionForm  select
 {
    width: 100px;
}



.rng-visualEditor-sidebarContentItem fieldset {
    margin-bottom: 10px;
}

.rng-visualEditor-sidebarContentItem  legend {
    font-size:11px;
    height:30px;
}

#rng-visualEditor-meta table {
    margin-bottom:10px;
}

#rng-visualEditor-meta table [contenteditable] {
    cursor: pointer;
}

#rng-visualEditor-meta table li:last-child {
    border-bottom: none !important;
}

#rng-visualEditor-meta table tr td:nth-child(1){
    width: 20%;
}

#rng-visualEditor-meta table tr td:nth-child(2)  {
    width:80%;
}

#rng-visualEditor-meta .rng-visualEditor-metaAddBtn {
    float:right;
    margin-right:6px;
}

#rng-visualEditor-meta .btn{
    padding:3px;
    line-height:10px;
}

#rng-sourceEditor-editor {
    width: 940px;
    height: 500px;
}

[wlxml-tag] {
    float: none !important; /* temporaty workaround for Bootstrap's influence via [class*="span"] { float: left; } */
    border-color: white;
    border-style:solid;
    border-width:1px;
}

[wlxml-tag=header] {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

[wlxml-tag=section] {
    margin-top: 10px;
    margin-bottom: 10px;
}

[wlxml-class|="cite"] {
    font-style: italic;
}

[wlxml-class|="cite-code"] {
    font-family: monospace;
}

[wlxml-class|="cite-code-xml"] {
    color: blue;
}

[wlxml-tag=header] > [wlxml-class=author] {
    font-size: 14px;
}

[wlxml-tag=header] > [wlxml-class=title] {
    font-size:18px;
}

[wlxml-class|="uri"] {
    color: blue;
    text-decoration: underline;
}

[wlxml-class|="p"] {
    text-indent: 1.5em;
}

[wlxml-class|="emph-tech"] {
    font-style: italic;
}

[wlxml-tag=document]  metadata {
    display:none;
}

.rng-hover {
    border-color: red;
    border-style:solid;
    border-width:1px;
}

.rng-current {
    background: #fffacd;
    border-color: grey;
    border-style:dashed;
    border-width:1px;
}