body {
    padding-top: 30px;
}

#publication_content {
    height: 300px;
    overflow-y: scroll;
}

.rng-tab-content {
    display: none;
}

#rng-skelton-menu {
    float: right;
}

#rng-skelton-menu ul {
    list-style-type: none;
}

#rng-visualEditor-content {
    float:left;
    width: 540px;
    height: 500px;
}

#rng-visualEditor-meta {
    float:right;
}