<div class="rng-module-nodeBreadCrumbs">
    <ul class="breadcrumb">
    <% if(node && parents) { %>
        <% for(var i = parents.length - 1; i >= 0; i--) { %>
            <li><a href="#" data-id="<%= parents[i].getId() %>"> <%= parents[i].getTag() %><% if(parents[i].getClass()) { %>.<%= parents[i].getClass() %> <% } %></a><span class="divider">/</span></li>
        <% } %>
            <li class="active"><span data-id="<%= node.getId() %>"><%= node.getTag() %><% if(node.getClass()) { %>.<%= node.getClass() %> <% } %></span></li>
    <% } %>
    </ul>
</div>