.rng-module-rng-diffLayout {
    [fnpjs-place=left] {
        width: 200px;
        margin: 0 20 0 0px;
        float: left;
    }
    [fnpjs-place=right] {
        width: 700px;
        float: right;
    }

}