<div class="rng-module-data-saveDialog modal hide static">
    <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h1>Przywróć wersję</h1>
    </div>
    <div class="modal-body">
        <label>Opisz powód przywrócenia</label>
        <textarea rows="5"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-info btn-mini restore-btn">Przywróć</a>
        <a href="#" class="btn btn-danger btn-mini cancel-btn">Anuluj</a>
    </div>
</div>