<div class="rng-module-nodeFamilyTree">
    <table class="table table-bordered">
        <tr>
            <td>powyżej</td>
            <td><% if(parent) { %><a href="#" class="rng-module-nodeFamilyTree-parent" rng-module-nodeFamilyTree-item-id="<%= parent.id %>"><%= parent.repr %></a><% } else { %>-<% } %></td>
        </tr>
        <tr>
            <td rowspan="0">poniżej</td>
            <td>
                <ul>
                <% if(!contents || contents.length === 0) { %>-<% } else { %>
                    <% contents.forEach(function(element) { %>
                        <li><% if(element.bold) { %><strong><% } %><a rng-module-nodeFamilyTree-item-id="<%= element.id %>" href="#"><%= element.repr %></a><% if(element.bold) { %></strong><% } %></li>
                    <% }); %>
                <% } %>
                </ul>
            </td>
        </tr>
</div>